{% extends '::base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 box-form">
            <h2>Usuarios registrados</h2>
            <div class="count">
                <span class="label-primary">
                   total de personas: {{ pagination.getTotalItemCount }}
                </span>
            </div>
            <div class="box-content box-form">

            </div>
        </div>
    </div>
{% endblock %}