
.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 15px;
}
.margin-bottom-lg {
    margin-bottom: 30px;
}

.navbar-header .navbar-brand {
    color: #DDD;
}

.navbar-brand {
    color: #ec9a29!important;

}

.canvas-app-container {
    background: rgb(255,255,255) no-repeat center url("Games/FrogestJump/splash_image.png");
    /* A positioned parent for loading visuals */
    position: relative;
}
.canvas-app-container:-webkit-full-screen {
    /* Auto width and height in Safari/Chrome fullscreen. */
    width: auto;
    height: auto;
}

.canvas-app-progress {
    position: absolute;
    background-color: rgb(245, 245, 245);
    height: 20px;
    /* Progress same width as canvas. */
    width: 1280px;
    bottom: 0;
}

.canvas-app-progress-bar {
    font-size: 12px;
    height: 20px;
    color: rgb(255, 255, 255);
    background-color: #0f8b8d !important;
    text-align: center;
    line-height: 20px;
}

.button {
    color: #fff;
    background-color: #0f8b8d !important;
    border-color: transparent;
    padding: 10px 20px;
}


.avatar {
    width: 100px;
}

.avatar img {
    display: block;
    width: 100%;
    height: auto;
}
.btn-basic{
    color: #ec9a29;
    background-color: #dad2d8 !important;
}

.panel-primary .panel-heading {
    background-color: #143642!important;
    border-top-color: #143642;
    border-right-color: #143642;
    border-left-color: #143642;
    border-bottom-color: #143642;

}

.btn-info{
    background-color: #0f8b8d !important;
}

.btn-primary{
    background-color: #143642!important;
}

.panel-success .panel-heading {
    background-color: #0f8b8d !important;
    color: #dad2d8 !important;
}

.panel-body{
    background-color: #dad2d8 !important;

}

.btn-danger{
    background-color: #a8201a !important;
}

.paginator{
    background-color: #dad2d8 !important;
}

.btn-warning {
    background-color: #ec9a29 !important;
}

.btn-success{
    background-color: #0f8b8d !important;
}

.navbar-fixed-top{
    background-color: #143642;
    color: #ec9a29 !important;
}

@font-face {
    font-family: KameronBold, SansitaOne;
    src: url(/web/fonts/);

}

.navbar-brand{
    font-family: "KameronBold", serif;
    font-size: x-large;
}

.panel-title{
    font-family: "KameronBold", serif;
    font-size: 36px;
}

.panel-body{
    font-family: SansitaOne, sans-serif;
    font-size: medium;
}




