{% extends '::base.html.twig' %}

{% block body %}
    <!--New post insert-->
    <h4 xmlns="http://www.w3.org/1999/html">Nuevo Post</h4>
    <form method="post" action="{{ path('app_post_insert') }}">
        <button class="btn-basic" type="submit" value="submit">Añadir</button>
    </form>
{% endblock %}